$primary-color: #D24D57;
$background-color: #222;
$panel-padding: 0.4rem;
//
@font-face {
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 400;
    src: local('Comfortaa Regular'), local('Comfortaa-Regular'), url('fonts/comfortaa-v10-cyrillic-regular.woff2') format('woff2'), url('fonts/comfortaa-v10-cyrillic-regular.woff') format('woff');
}

html,
body {
    overflow-x: hidden;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Comfortaa', Arial, sans-serif;
    background-color: $background-color;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 960px;
}

header {
    background-color: $primary-color;
    margin-bottom: 0.4rem;
    h1 {
        display: inline-block;
        margin: 0;
        color: #fff;
        vertical-align: middle;
    }
    span {
        display: inline-block;
        color: #fff;
        float: right;
        text-align: right;
        vertical-align: middle;
        line-height: 4.5rem;
    }
}

#sprite {
    display: none;
}

.svg-logo {
    display: inline-block;
    vertical-align: middle;
    width: 3.5rem;
    height: 3.5rem;
    margin-right: 0.3rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    fill: #fff;
}

.hidden {
    display: none;
}

.main {
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-gap: $panel-padding;
    margin-bottom: 0.4rem;
}

.board,
.info {
    background-color: #fff;
    border-radius: 0.25rem;
    margin-bottom: 0.2rem;
}

.board {
    padding: 0.1rem;
    padding-bottom: 0;
    cursor: pointer;
    overflow: hidden;
}

.svg-board {
    rect {
        stroke: #fff;
        fill: $primary-color;
        stroke-width: 4px;
        rx: 5px;
    }
    g g:hover rect {
        fill: cornflowerblue;
    }
    text {
        fill: #fff;
        font-size: 1.5rem;
        text-anchor: middle;
        alignment-baseline: middle;
        &.dark {
            fill: $primary-color;
            font-weight: bold;
            text-anchor: end;
        }
    }
    use {
        fill: #fff;
    } // odd cells color 
    //    g:nth-child(odd) rect:nth-child(odd),
    //    g:nth-child(even) rect:nth-child(even) {
    //        fill: $primary-color;
    //    }
}

.svg-line {
    fill: none;
    stroke: #333;
    stroke-width: 4px;
    stroke-linejoin: round;
    stroke-linecap: round;
    stroke-dasharray: 18000;
    stroke-dashoffset: 18000;
    animation: dash 2s linear forwards;
    animation-delay: 1.5s;
}

@keyframes dash {
    to {
        stroke-dashoffset: 0;
    }
}

.info {
    padding: 1rem;
}

.info-header {
    text-align: center;
}

.info-header,
.info-pos,
.info-iter,
.info-time {
    display: block;
    margin-bottom: 1rem;
}

.info-lines {
    .caption {
        margin-left: 0.5rem;
    }
    small {
        background-color: $primary-color;
    }
}

//////// Media /////////////
@media (max-width: 1200px) {
    .container {
        width: 80%;
    }
}

@media (max-width: 992px) {
    .container {
        width: 97%;
    }
}

@media (max-width: 768px) {
    .main {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 480px) {
    header {
        h1 {
            font-size: 1.3rem;
        }
        span {
            font-size: 0.8rem;
            line-height: 3.5rem;
        }
    }
    .svg-logo {
        height: 2.5rem;
        margin-right: 0.1rem;
    }
}

@media (max-width: 320px) {
    header {
        span {
            display: none;
        }
    }
}
